psycopg2--binary==2.9.7
mysql-connector-python==8.1.0
ConfigSpace==0.7.1
smac==2.0.2
tiktoken==0.5.1
openai==0.28.0
streamlit==1.30.0
streamlit-autorefresh==1.0.1
streamlit-echarts==0.4.0
streamlit-modal==0.1.1
streamlit-option-menu==0.3.6
matplotlib==3.8.2
